/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


body {
background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;
  
	}

#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	color: white !important;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
	background-image: url("./images/bg.jpg");
	display: flex;
}



.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

#container .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	
	margin: 0;
	
} */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


body {
	background: #DFC2F2;
	background-image: linear-gradient(to right, #ffffb3, #ffe6e6);
	background-attachment: fixed;
	background-size: cover;

}

#container {
	box-shadow: 0 15px 30px 1px grey;
		background: rgba(255, 255, 255, 0.90);
		text-align: center;
		color: white !important;
		border-radius: 5px;
		overflow: hidden;
		margin: 5em auto;
		height: 350px;
		width: 700px;
		background-image: url("./images/bg.jpg");
		display: flex;
		flex: 1;
	}
#first-child{
	flex: 0.3;
	border-right: 1px solid white;
}
#second-child{
		flex: 0.7;
}